@import '../01-settings/typography.scss';
@import '../01-settings/colors.scss';

.c-login {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.c-login-background-holder {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
}

.c-login__background-image {
  object-fit: contain;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

.c-login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-login-header__title {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1;
  font-family: $font-stack-beta;
}

.c-login-header__subtitle {
  font-size: 1.6rem;
}

.c-login-form {
  .c-login-input {
    all: unset;
  
    background: none;
    display: block;
    width: 100%;

    padding: 0 0.5rem 0;
    margin-bottom: 3rem;
    border-bottom: 2px solid map-get(map-get($palettes, color-neutral), 100);


    &::placeholder {
      color: map-get(map-get($palettes, color-neutral), 100);
    }
  }

  .c-login-button {
    appearance: none;
    border: none;

    font-family: $font-stack-beta;
    font-size: 2rem;
    
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 2rem;
  }
}

